body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: #61dafb;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

input {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

button {
  background-color: #33adcf;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: #61dafb;
}
